<%= link_to "Back to Listings", listings_path, class: "btn btn-info btn-small active"  %>
<br>
<br>
<h3 id="cart-title">Shopping Cart</h3>
<div id="cart">
  <% if !@cart_contents.empty? %>
    <table id="cart" class="table table-striped">
          <tr>
            <th>Listing</th>
          </tr>
          <% @cart.listings.each do |listing| %>
            <tr>
              <td><h4><%= listing.name %></h4></td>
              <td><%= button_to "Remove Listing", cart_path(listing), method: :delete %></td>
            </tr>
        <% end %>
      <% if current_user %>
        <tfoot>
          <td colspan="4">
            <%= button_to "Checkout", orders_path, class: "btn-info", data: { confirm: "Proceed to Checkout?" } %>
          </td>
        </tfoot>
      <% end %>
    </table>
  <% else %>
    <p> "There are no listings in your cart" </p>
  <% end %>
</div>
