<div class="row hero">
  <div class="home-headings">
    <h1><span class="med-logo"><%= image_tag "travel_home_logo_white.png" %></span>ravel<span id="home">Home</span></h1>
   <li><%= link_to "<span class='glyphicon glyphicon-menu-right' aria-hidden='true'>".html_safe, cart_path %></li>
   <h2><a href='/listings'>Browse All Listings</a></h2><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  <div style="clear:both;"> </div>
</div>
</div>
