<div class="row hero">
  <div class="home-headings">
    <%= image_tag "travel_home_logo_white.png" %>
    <h1><span class="med-logo">Travel<span id="home">Home</span></h1>
    <h2><a href='/listings'>Browse All Listings</a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h2>
  <div style="clear:both;"> </div>
</div>
</div>
