<div class="form-group">
<%= form_for(:listings) do %>
  <div class="input-daterange">
    <h3>Select dates</h3>
    <input type="text" class="from_date" placeholder="start date" contenteditable="false">
    <span class="add-on">to</span>
    <input type="text" class="to_date" placeholder="end date" contenteditable="false">
  </div>
<% end %>
</div>
