<div id="menu">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="floaters">
        <div class="toasty"><%= image_tag listing.avatar.url(:thumb) %></div>
        <h4 class="listing-title"><%= link_to listing.name, listing %></h4>
        <h3 class="listing-price"><%= listing.price %></h3>
        <p class="listing-price"><%= listing.description %></p>
      </div>
    <% end %>
  </div>
</div>
