<div id="menu">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="floaters">
        <h3 class="listing-price"><%= listing.price %></h3>
        <p class="listing-price"><%= listing.description %></p>
        <div class="toasty">

        <h4 class="listing-title"> <%= link_to listing.title, listing %> </h4>
      </div>
    <% end %>
  </div>
</div>
