<h1>Welcome <%= set_name(@host)%> to your hosting profile page</h1>

<hl \>

<h3>Bookings currently awaiting your approval</h3>

<ul>
  <li><%= @host.listings %></li>
</ul>

<h3>Your Past Bookings</h3>

<ul>
  <li><%= @host.listings %></li>
</ul>


<h3>Your Cancelled Bookings</h3>

<ul>
  <li><%= @host.listings%></li>
</ul>
