<%= link_to "Back to Listings", listings_path, class: "btn backb btn-small"  %>
<h3 id="cart-title">Shopping Cart</h3>
<div id="cart">
  <% if !@cart_contents.empty? %>
    <%= render partial: "cart_details" %>
  <% else %>
    <p id="no-items"> There are no listings in your cart </p>
  <% end %>
</div>
