<div id="menu">
  <br>
  <%= link_to "Return to Home Page", href="/", class: "btn btn-info btn-lg btn-md active center" %>
  <br>
  <div class="row">
    <% @items.each do |item| %>
      <div class="floaters">
        <div class="toasty"><%= image_tag item.avatar.url(:thumb) %></div>
        <h4 class="item-title"> <%= link_to  item.name, item %> </h4>

        <div class="item-cart-button">
          <br>
            <%= button_to  'Add to Cart', cart_path(item_id: item), class: "btn btn-success btn-xs active center " %>
        </div>
      </div>
    <% end %>
  </div>
</div>
