<h3 id="cat-title">Manage <%= @category.name %></h3>

<div id="menu">
  <%= link_to  'Add Item', new_admin_listing_category_path(category_id: params[:id]), class: 'btn btn-info btn-lg center' %><br>
    <% @listings.each do |listing| %>
      <div class="floaters">
        <h4 class="listing-title"> <%= link_to  listing.name, admin_listing_path(listing) %> </h4>
        <div class="listing-cat-button">
          <%= button_to  'Remove Item', admin_listing_category_path(listing_id: listing, category_id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
      </div>
    <% end %>
  </div>

</div>
