@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$main-teal:#0cc185;
$light-teal:rgba(11, 195, 130, 0.48);
$mint:rgb(196, 245, 223);
