#item-title {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 30px;
  text-shadow: 0px 2px 3px #666;
}

#item-description {
  min-height: 25px;
  font-size: 20px;
  margin-left: 30px;
}

#item-price {
  min-height: 24px;
  font-size: 20px;
  margin-left: 30px;
}

#item-button {
  margin-left: 30px;
}

.create-item-form {
  width: 80%;
}

.item-title :hover {
  color: #bfa24b;
  text-decoration: none;
}

.item-create {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.floaters {
  width: 23%;
  float: left;
  margin: 10px;
}

.toasty {
  text-align:center;
}

.center{
  display:block;
  margin:0 auto;
  text-align:center;
}

#items-title{
  text-align:center;
}
