@import 'base';

.paginate {
  text-align: center;
}

#menu {
  padding-bottom: 60px;
}

.listing-title, .photo, #listings-title {
  font-weight: bold;
  color: $main-teal;
  font-family:$sub-font;
}

.modal-header{
  height:35px;
}
.avatar-pic, .photo{
  height:207px;
  width:auto;
}

.img-responsive{
  margin:0 auto;
}

ol{
  padding-left:0px;
}

.photo, .avatar-pic{
  border:3px solid $mint;
  &:hover{
    filter: grayscale(100%);
    cursor:pointer;
  }
}

#stars{
  text-align:left;
  margin-top:-20px;

  li{
    display:inline;
  }
}

.listing-description, .listing-city{
  text-align:center;
  line-height:1em;
}

.middle{
  width:90%;
  margin:0 auto;
  margin-bottom:30px;
  text-align:center;
  background-color:$transparent-teal;
  border:3px solid $light-teal;
  &:hover{
    background-color:$mint;
  }
  &:hover .photo {
    filter: grayscale(100%);
  }
  .left{
    width:34%;
    margin-right:53px;
  }
  .right{
    width:42%;
  }
  figure{
    .photo{
      border:3px solid $mint;
      margin-bottom:15px;
    }
  }
}

.glyphicon{
  padding:10px;
}

.form-group{
  padding:10px;
}

.form_control{
  padding-top:10px;
  padding-bottom:10px;
}

#listings-title{
  margin-bottom:70px;
  margin-top:20px;
}

#listing-title{
  margin-top:40px;
  padding-right:20px;
}

.listing-title{
  font-size:2em;
  text-align:center;
}

.left{
  margin-top:10px;
  figure{
    text-align:right;
    img.photo{
      margin-top:-97px;
    }
  }
  text-align:left;
  display:inline-block;
  width:45%;
}

.right{
  text-align:left;
  display:inline-block;
  width:45%;
}

.bottom{
  padding:10px;
  margin-top: 20px;
  display:block;
  h3{
    display:inline;
    margin:30px;
    border:3px solid $mint;
    padding:10px;
    font-family:$sub-font;
  }
}

.backb {
  font-family:$sub-font;
  border:1px solid $mint;
  border-radius:0px;
  margin:10px;
  margin-left:124px;
  padding:5px;
  &:hover{
    color:$main-teal;
    background-color:$mint;
  }
}

.listing{
  width:75%;
  margin:0 auto;
  display:block;
}

#listing-show .photo {
  height:220px;
  width:auto;
}

.listing-description {
  min-height: 25px;
  font-size: 20px;
  color: $main-teal;
  text-align:left;
  margin-left:20px;
}

.listing-price, #listing-price {
  min-height: 24px;
  font-size: 30px;
  color:$main-teal;
  text-align:right;
  width:100%;
  display:block;
}

.local{
  display:inline-block;
  margin:20px;
  .state{
    font-family:$sub-font;
    font-size:24px;
    margin-top:0px;
  }
  .listing-city{
    margin-bottom:0px;
    text-align:left;
  }
}

.listing-price{
  display:inline;
  margin:20px;
  font-size:39px;
}

#listing-price{
  margin-bottom:30px;
  padding-right:20px;
}

#listing-show {
  color:$main-teal;
  margin:60px;
  margin:0 auto;
  display:block;
  width:80%;
  padding:20px;
  text-align:center;
  border:5px solid $light-teal;
  background-color:$background-teal;
}

#listing-description{
  text-align:right;
}

.center{
  display:block;
  margin:0 auto;
  text-align:center;
}

