@import 'base';

.listing-title, .photo, #listings-title {
  font-weight: bold;
  margin-top: 20px;
  color: $main-teal;
  font-family:$sub-font;
}

.middle{
  width:75%;
  margin:0 auto;
}

#listings-title{
  margin-bottom:30px;
}

.listing-title{
  font-size:2.3em;
  text-align:left;
}

.listing-calendar{
  height:25px;
  width:100%;
}

.left{
  text-align:left;
  display:inline-block;
}

.bottom{
    padding:10px;
  h3{
    display:inline;
    margin:30px;
    border:3px solid $mint;
    padding:10px;
  }
}

.listing{
  width:75%;
  margin:0 auto;
  display:block;

}

  .photo {
    height:250px;
    width:auto;
 }


.listing-description {
  min-height: 25px;
  font-size: 20px;
  color: $main-teal;
}

.listing-price, #listing-price {
  min-height: 24px;
  font-size: 30px;
  color:$main-teal;
  text-align:right;
  width:100%;
  display:block;
}

.right{
  text-align:right;
  display:inline-block;
  margin-left:60px;
}

input.cart-button {
  margin:0 auto;
  margin-top:30px;
  color:$main-teal;
  background-color:$mint;
  border-radius:0;

  &:hover{
    color:white;
    background-color:$main-teal;
  }
}

#listing-show {
  color:$main-teal;
  margin:60px;
  margin:0 auto;
  display:block;
  width:100%;
  text-align:center;
}

.create-item-form {
  width: 80%;
}

.item-title :hover {
  color: #bfa24b;
  text-decoration: none;
}

.item-create {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.floaters {
  width: 23%;
  float: left;
  margin: 10px;
}

.toasty {
  text-align:center;
}

.center{
  display:block;
  margin:0 auto;
  text-align:center;
}

#items-title{
  text-align:center;
}
