@import 'base';

.listing-title, .photo, #listings-title {
  font-weight: bold;
  margin-top: 10px;
  color: $main-teal;
  font-family:$sub-font;
}

.middle{
  width:85%;
  margin:0 auto;
  margin-bottom:30px;
  text-align:center;
  border:3px solid $light-teal;

  figure{
    margin-bottom:20px;
  }

  a{

    &:hover .middle{
      background-color:$mint;
    }

    &:hover .photo {
      filter: grayscale(100%);
    }
  }
}

.glyphicon{
  padding:10px;
}

.form-group{
  padding:10px;
}

.form_control{
  padding-top:10px;
  padding-bottom:10px;
}

.input-daterange{
  h3 {
    text-align:center;
  }

  #from-date, #to-date{
  margin-top:10px;
  margin:0 auto;
  margin-bottom:10px;
  text-align:center;
  }

}
#calendar{
  input[type="submit"] {
      margin:0 auto;
    }
  }

#listings-title{
  margin-bottom:30px;
}

.listing-title{
  font-size:2.3em;
  text-align:center;
  margin-bottom:10px;
}

.listing-calendar{
  height:25px;
  width:100%;
}

.left{
  text-align:left;
  display:inline-block;
  width:300px;
}

.bottom{
    padding:10px;
    margin-top: 50px;
  h3{
    display:inline;
    margin:30px;
    border:3px solid $mint;
    padding:10px;
    font-family:$sub-font;
  }
}

.backb {
  &:hover{
    color:$light-teal;
  }
}

.listing{
  width:75%;
  margin:0 auto;
  display:block;

}

  .photo {
    height:200px;
    width:auto;
 }


.listing-description {
  min-height: 25px;
  font-size: 20px;
  color: $main-teal;
}

.listing-price, #listing-price {
  min-height: 24px;
  font-size: 30px;
  color:$main-teal;
  text-align:right;
  width:100%;
  display:block;
}

.right{
  text-align:right;
  display:inline-block;
  width:400px;
}

input.cart-button {
  margin:0 auto;
  margin-top:30px;
  color:$main-teal;
  background-color:$mint;
  border-radius:0;
  font-family:$sub-font;

  &:hover{
    color:white;
    background-color:$main-teal;
  }
}

#listing-show {
  color:$main-teal;
  margin:60px;
  margin:0 auto;
  display:block;
  width:80%;
  padding:40px;
  text-align:center;
  border:5px solid $light-teal;
}

.create-item-form {
  width: 80%;
}

.item-title :hover {
  color: #bfa24b;
  text-decoration: none;
}

.item-create {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.floaters {
  width: 23%;
  float: left;
  margin: 10px;
}

.center{
  display:block;
  margin:0 auto;
  text-align:center;
}

#items-title{
  text-align:center;
}
