@import 'base';

.navbar, footer {
  margin:0;
  border-color:none;
  background-color:white;
  padding-left:0;

  a{
    line-height:2.1em;
    font-family:$sub-font;

    &:focus{
      text-decoration:none;
    }

    .footer-btn{
      margin-left:5px;
      margin-right: 5px;
    }
  }

  input{
    color:$main-teal;
    border:3px solid $mint;
    border-radius:0px;
    &:focus{
      outline:none;
    }
  }

  .tt-suggestion:hover{
    background:$main-teal;
    color:white;
  }


  .tt-dropdown-menu{
    color:$main-teal;
    border:3px solid $mint;
    background: white;
    margin: 20px 5px 10px 15px;



  }

  .container{
    background-color:rgba(255, 255, 255, 0.89);
    width:100%;
  }
}

.navbar-default{
  border-bottom-color:$mint;
}

#search{
  margin:20px 5px 10px 15px;
}

#search-form{
  margin-bottom:10px;
  padding:0px 40px;
}

footer{
  bottom:0;
  width:100%;
  line-height:50px;
  color: $main-teal;
  border-top:1px solid $mint;
  position:fixed;

  span#contact{
    margin-right: 7px;
  }
}

.navbar-form{
  width:400px;
  margin:0;
}

button[type="submit"] {
  padding-left:0;
  position:relative;
  background-color:transparent;
  border:none;
  box-shadow:none;
  color:$main-teal;
  .glyphicon{
    padding:0;
  }
}

.form-group .form-control{
  width:250px;
  background-color:white;
  color:$main-teal;
  border-color:$main-teal;
  border-radius:0;
}

.logo img{
  width:45px;
  height:auto;
  margin-top:12px;
}

.med-logo img{
  width:75px;
  height:auto;
  margin-bottom:40px;
  margin-right:-10px;
}

.logo-tiny img{
  margin-bottom:12px;
  margin-right:-5px;
  width:25px;
  height:auto;
}

.navbar-collapse{
  padding:0px 20px;
}
