@import 'base';

.navbar, footer {
  margin:0;
  border-color:none;
  background-color:transparent;
  padding-left:0;

  a{
    line-height:1.7em;
    font-family:$sub-font;
  }

  input{
    color:$main-teal;
  }

  .container{
    background-color:rgba(255, 255, 255, 0.89);
    width:100%;
  }
}

.navbar-default{
  border-bottom-color:$mint;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  line-height:50px;

  span#contact{
    margin-right: 7px;
  }
}

.navbar-form{
  width:400px;
  margin:0;
}

button[type="submit"] {
  padding-left:0;

  .glyphicon{
    padding:0;
  }
}

.form-group .form-control{
  width:250px;
  background-color:white;
  color:$main-teal;
  border-color:$main-teal;
  border-radius:0;
}

.logo img{
  width:25px;
  height:auto;
  margin-top:7px;
}

.med-logo img{
  width:75px;
  height:auto;
  margin-bottom:40px;
  margin-right:-10px;
}

.logo-tiny img{
  margin-bottom:12px;
  margin-right:-5px;
  width:25px;
  height:auto;
}
