@import "base";

#order-history, #cart{
  table{
    margin:0 auto;
    display:block;
    width:500px;
    text-align:center;
    margin-bottom: 30px;
    padding:10px;
    padding-left:70px;
    background-color:$light-teal;

    tr{
      border:none;
    }

    th{
      text-align:center;
      color:white;
      font-family:$sub-font;
      font-size:1.5em;
      border:none;
    }
  }
}

#cart{
  table{
    width:530px;
    padding-left:10px;
    color:white;
    border:5px solid $mint;

    input{
      text-align:center;
      margin:0 auto;
      display:block;
      width:100%;
    }
    a{
      font-family:$sub-font;
      border:3px solid $mint;
    }
  }
}
