@import 'base';

#cart-title {
  width: 100%;
  text-align:center;
  margin-bottom:50px;
  color:$main-teal;
  font-family:$sub-font;
}

#cart table tfoot td{
  border:none;
}

#no-items{
  text-align:center;
  color:$mint;
  font-size:2em;
  font-family:$sub-font;
}

#trip-name-form{
  color:green;
  text-align:center;
  margin:0 auto;
  display:block;
  width:100%;
}
