@import 'base';
@import 'item';
@import 'orders';
@import 'nav';

body{
  div.hero{
    background-image: image-url('barcelona.jpg');
    background-size: 100% auto;
    background-repeat:none;
    background-position:fixed;
  }

  a, button{
    color:$main-teal;
    background-color:transparent;

    &:hover{
      text-decoration:none;
      color:$light-teal;
    }
  }
}

input:focus{
  outline:none;
}

#login-form{
  margin-top:40px;

}

#admin-dash{
  padding-top:150px;
  padding-bottom:150px;
  color:white#525252;

  background-image: image-url('admin-dash.jpg');

  #admin-title{
    border:1px solid white;
    background:rgba(255, 255, 255, 0.91);
    width:400px;
    margin:0 auto;
    text-align:center;
    padding:15px 0 15px 0;
    @include border-radius(5px);
  }
}

.center{
  width:30%;
  margin-bottom:10px;
}

#home{
  color:$mint;
}

.home-headings{
  text-align:center;
  width:100%;
  margin:0 auto;
  margin-top:150px;
  margin-bottom:350px;
  color:white;

  h1{
    font-size:5em;
  }

  h2 {
        margin-top:-15px;
      a{
        font-family:$sub-font;
        color:$mint;
      }
  }
}

li {
  list-style-type:none;
}

input[type="submit"] {
  width: 60%;
  display:block;
  text-align:center;
  @include border-radius(5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

label{
  color:$main-teal;
}

#small_submit_button {
  width: 20%;
  display:block;
  text-align:center;
  color:$main-teal;
  background-color:white;
}

#cart-title {
  width: 100%;
  text-align:center;
  margin-bottom:50px;
}

#cart table tfoot td{
  border:none;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

.item-create {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.item-update {
  background: rgba(43,58,223,0.2);
  width: 500px;
  border: 1em;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

#delete-edit-item {
  margin-left: auto;
  margin-right: auto;
}
