@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'base';
@import 'listing';
@import 'nav';

.wrapper{
  overflow:auto;
  min-height:100%;
  margin-bottom:60px;
}
body{
  background-color:$background-teal;
  height:100vh;

  div.hero{
    background-image: image-url('barcelona.jpg');
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-position:center center;
    height:100vh;
    padding:10%;
  }

  a, button{
    color:$main-teal;
    background-color:transparent;
    transition: all 0.3s ease 0s;

    &:hover{
      text-decoration:none;
      color:$light-teal;
    }
  }
}

::-webkit-input-placeholder {
  color: $main-teal;
}

:-moz-placeholder { /* Firefox 18- */
  color: $main-teal;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $main-teal;
}

:-ms-input-placeholder {
  color:  $main-teal;
}

.messages #flash_notice{
  color:$main-teal;
}

input:focus{
  outline:none;
}

#login-form{
  margin-top:40px;

}

.center{
  width:30%;
  margin-bottom:10px;
}

#home{
  color:$mint;
}

.home-headings{
  text-align:center;
  width:100%;
  margin:0 auto;
  color:white;

  img{
    width:90px;
    height:auto;
  }

  h1{
    font-size:5em;
  }

  h2 {
    margin-top:-15px;
    a{
      font-family:$sub-font;
      color:$mint;
    }
  }
}

li {
  list-style-type:none;
}

input[type="submit"] {
  width: 60%;
  display:block;
  text-align:center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color:$mint;
  &:focus{
    color:$main-teal;
    background-color:$mint;
  }

  &:hover{
    color:$main-teal;
    background-color:$mint;
  }
}

label{
  color:$main-teal;
}

#small_submit_button {
  width: 20%;
  display:block;
  text-align:center;
  color:$main-teal;
  background-color:white;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}
