@import 'base';

.modal-header{
  background-color:$main-teal;
  color:white;
  padding:5px;
  border-bottom-color:$mint;
  height:60px;

  h3{
    margin:10px;
    font-family:$sub-font;
  }
}
.modal-body, .register-modal-body{
  background-color:$background-teal;

  img{
    width:400px;
    height:auto;
  }
}

.modal-open .modal{
  background-color:$background-teal;
}

#login-form{
  width:80%;
  background-color:$background-teal;
}

.modal-dialog{
  width:40%;
}

.modal-footer{
  border-top:1px solid $mint;
}

