@import 'base';

#traveler-welcome{
  text-align:center;
  color:$main-teal;
  font-family:$sub-font;
}

.traveler-bookings{
  margin-top:20px;
  border-bottom:3px solid $main-teal;
  border-top:3px solid $main-teal;

  table tr{
    td{
    padding:10px;
  }
}
  a{
    font-size:1.2em;
    border-bottom:1px solid $mint;
  }
  #total{
    font-size:1.5em;
    font-family:$sub-font;
    padding-top:10px;
  }
}

#travel-info{
  color:$main-teal;
  table{
    width:100%;
    background-color:$background-teal;
    text-align:center;

    .headings{
      font-size:1.2em;
      font-family:$sub-font;
      margin-bottom:10px;
      border-bottom:1px solid $main-teal;
      background-color:$mint;
    }
  }
}
