<footer class="footer">
  <div class="container">
    <div class=btn-lg logo-tiny">
      <% if current_user %>
        <%= link_to "Contact", root_path %> |
        <%= link_to "Traveler Page", traveler_path(current_user) %> |
        <%= link_to "Host Page", host_path(current_user) %>
      <% else %>
        <%= link_to "Contact", root_path %> 
      <% end %> 
    </div>
  </div>
</footer>
