<footer class="footer">
  <div class="container">
    <div class="btn-lg footer-btn">
      <% if current_user %>
        <%= link_to "Traveler Page", traveler_path(current_user) %> |
        <%= link_to "Host Page", host_path(current_user) %>
      <% end %>
    </div>
  </div>
</footer>
